.blogMainStyle {

    .mainSection_wrap {
        width: 100%;



        display: flex;
        align-items: center;
        justify-content: center;

        // padding: 50px;

        .mainSection {
            width: 960px;
            padding: 50px 0;
            background-color: #fff;

            // border: 1px solid #000;;



            


            .menuDiv {
                
            }
        }
    }
}